rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /temp_proofs/{filename} {
      allow write: if true; // Allow anyone to upload a file during registration
      allow read, delete: if request.auth != null; // Authenticated (and approved) users can read/delete proofs
    }
    
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
